{% extends 'home.html' %}

{% block applink %}
<p>App link - <a href="https://play.google.com/store/apps/details?id=com.masss.royaleducarex">https://play.google.com/store/apps/details?id=com.masss.royaleducarex</a></p>

<div>
    <div>
        <h2>Our Services</h2>
        <ul>
            <li>Study notes organized by batch, subject and topics</li>
            <li>Notes and Mocktests are uploaded frequently</li>
            <li>Mock tests for exam preparation</li>
            <li>Results checking and analysis</li>
            <li>Daily updates on exam news and tips</li>
        </ul>
    </div>
</div>
{% endblock %}